parameters:
    level: 0
    paths:
        - app
    excludePaths:
        - routes/console.php
        - app/Http/Controllers/Auth/*
    ignoreErrors:
        - '#Call to an undefined static method#'
        - '#Access to an undefined property#'
        - '#Cannot access property \$email#'
        - '#Method .* has no return type specified.#'
